.square {
  font-size: 48px !important;
  font-weight: 700;
  width: 100px !important;
  height: 100px !important;
}

.square.X {
  color: hsl(348, 100%, 61%) !important;
}

.square.O {
  color: hsl(204, 86%, 53%) !important;
}

.preview {
  opacity: 0.3;
}

.square:focus {
  box-shadow: none !important;
}
